/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
*, *:before, *:after {
  	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

body {
	background: #fff;
}

h1, h2         { font-size:60px; color:#fff;}
 p 			   {font-size:30px; color:#fff; font-weight:100;}

.section      {background:#fff; }
.row          {margin-bottom:0;}




/* header-main*/
#header-main        {background-image:url(../images/arch.jpg); background-size: cover; background-position: center center; min-height:200px;}
#header-main h1 {font-weight:700; color:#000000;}
#header-main h2 {font-weight:700; color:#FFFFFF;}

#logoleft {
	display: block;
	float: left;
	padding-top:3em;
	padding-bottom:3em;
}
#logoright {
	display: block;
	float: right;
	padding-top:3em;
	padding-bottom:3em;
}



/*banner-main*/
#banner-main  {margin:4em 4em;}
#info a       {color:#000; text-decoration:underline;}
#info h1      {color:#000; font-weight:300;}
h1 span       {font-weight:bold;}


/*nav*/

#main-nav .column {
	height:300px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border:2px solid black;
	position:relative;
	overflow:hidden;}

#main-nav li   {text-align:center;}
#main-nav ul li a{
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:50px 0 0;}


#main-nav li:first-child a:hover{
	color:#fff;
	background: #1e73be;
}

#main-nav li:nth-child(2) a:hover{
	color:#fff;
	background: #E10003;
}

#main-nav li:nth-child(3) a:hover{
	color:#fff;
	background: #FF7400;
}
#main-nav{padding-bottom:9em;}



 
/*breathe*/
      
#breathe           {background-image:url(../images/bag.jpg); background-size: cover; background-position: center center; min-height:800px;}
#breathe h1, h2, p  {color:#fff;}
#breathe h1         {padding-top:2em; padding-bottom:2em;}
#breathe            {border-bottom:#FFFFFF thin solid;}




/*Mind*/



#mind              {background-image:url(../images/feldenkrais.jpg); background-size: cover; background-position: center center; min-height:800px;}
#mind h1 {padding-top:2em; padding-bottom:2em;}
#mind {border-bottom:#FFFFFF thin solid;}


/*move*/

#move               {background-image:url(../images/gyro.jpg); background-size: cover; background-position: center center; min-height:800px;}
#move h1 {padding-top:2em; padding-bottom:2em;}
#move p   {padding-bottom:2em;}


/*footer-main*/
#footer-main {
	background:#fff;
	border-top:thin #FFF solid;
	
}

#footer-main .column {

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border:2px solid black;
	position:relative;
	overflow:hidden;}

#footer-main li{
	text-align:center;
}
#footer-main ul li a{
	display: inline-block;

	text-decoration: none;
	
	padding:20px;}



#footer-main li:first-child a:hover{
	color:#fff;
	background: #1e73be;
}

#footer-main li:nth-child(2) a:hover{
	color:#fff;
	background: #E10003;
}

#footer-main li:nth-child(3) a:hover{
	color:#fff;
	background: #FF7400;
}
#footer-main li:nth-child(4) a:hover{
	color:#fff;
	background:#00B1DB;
}

 
#footer-main img {
	width:4em;
	height:4em;
}

#footer-main h3 {
	font-size:20px;
}





/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	

	

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


