/* Temp overrides for bootstrap */
.container { width: 900px; }
.span1 { width: 55px; }
.span2 { width: 130px; }
.span3 { width: 205px; }
.span4 { width: 280px; }
.span5 { width: 355px; }
.span6 { width: 440px; }
.span7 { width: 525px; }
.span8 { width: 620px; }
.span9 { width: 695px; }
.span10 { width: 750px; }
.span11 { width: 825px; }
.span12 { width: 920px; }
.offset1 { margin-left: 95px; }
.offset2 { margin-left: 170px; }
.offset3 { margin-left: 245px; }
.offset4 { margin-left: 320px; }
.offset5 { margin-left: 395px; }
.offset6 { margin-left: 470px; }
.offset7 { margin-left: 515px; }
.offset8 { margin-left: 590px; }
.offset9 { margin-left: 665px; }
.offset10 { margin-left: 740px; }
.offset11 { margin-left: 815px; }
.offset12 { margin-left: 890px; }
.btn-primary {
    background-color: #648DAD;
    background-image: -ms-linear-gradient(top,#67b0c9,#1585ac);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#67b0c9),to(#1585ac));
    background-image: -webkit-linear-gradient(top,#67b0c9,#1585ac);
    background-image: -o-linear-gradient(top,#67b0c9,#1585ac);
    background-image: -moz-linear-gradient(top,#67b0c9,#1585ac);
    background-image: linear-gradient(top,#67b0c9,#1585ac);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #449dbd;
}
.btn-primary:not(.disabled):hover,
.btn-primary:not(.disabled):active {
    color: #ffffff;
    background-color: #1585ac;
    *background-color: #1585ac;
}

/* top level elements */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
body {
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4d4449;
}
h1 {
    margin: 0;
    padding-right: 50px;
    color: #60565b;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2em;
}
h2 {
    margin: 36px 0 18px;
    color: #252b52;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.05em;
}
h2 a, h2 a:hover {
    text-decoration: none;
    color: #252b52;
}
h3 {
    font-size: 16px;
    margin: 20px 0;
    color: #6D6469;
    font-weight: 600;
    line-height: 1.05em;
}
h4 {
    font-style: italic;
    font-size: 1.2em;
    margin: 15px 0 5px 0;
    font-weight: 400;
}
p {
    font-size: 1em;
    line-height: 1.3em;
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
dl {
    padding: 15px 20px;
}
dt, dd {
    margin-right: 2em;
    margin-top: 0.2em;
}
dt {
    color: #252b52;
}
dd {
    margin: 0.1em 2em .5em 0;
    font-weight: 200;
}
ul {
    margin-left: 0;
}
ul li {
    line-height: 1.3em;
    margin: 10px 14px;
    list-style-type: none;
}
ul ul {
    margin-left: 2em;
}
ul.bulleted li:before {
    content: "» ";
    margin-left: -14px;
}
form {
    margin: 0;
}
section {
    margin: 5px 0 25px;
}
.table {
    font-size: inherit;
    margin-bottom: 0;
}
.table thead th {
    background-color: #ede5d1;
    color: #252b52;
    padding: 10px 15px;
    border-left: solid 1px #CCC;
}
.table td {
    color: #666666;
    padding: 10px 15px;
    border-left: solid 1px #CCC;
}

.table-striped tbody tr td.highlightrow {
    font-weight: 400;
}
.table tr.gray-out td {
    color: #AAAAAA;
}

.table th:first-of-type {
    border-left: none;
}
.table td:first-of-type {
    border-left: none;
}
.table .section {
    padding: 0 0 10px 0;
    margin: 0;
}
.clear,.clearfix {
    clear: both;
}
.main-content {
    width: 1020px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 20px 0 50px;
    min-height: 400px;
}
.navbar {
    width: 1020px;
    margin: 0 auto;
}
.print-only {
    display: none;
}
.small-font {
    font-size: 0.8em;
    display: inline-block;
    margin-top: 5px;
}
.light-font {
    color: #CCCCCC;
    font-weight: 200;
}
.center {
    text-align: center;
}
.relative {
    position: relative;
}
.inline {
    display: inline-block;
}
.draggable {
    overflow: visible;
}
.span7, .span12 {
    margin-left: 0;
}
.top-row {
    margin-bottom: 40px;
}
.print-only {
    display: none;
}
a.toggle:hover {
    cursor: pointer;
}
div.timestamp {
    font-size: .8em;
    color: #AAA;
    font-weight: 100;
}
div.tooltip {
    font-weight: 700;
}
a.nostyle, a.nostyle:hover {
    color: inherit;
    text-decoration: none;
}
/* header */
a.breadcrumbs {
    margin-left: -20px;
    position: relative;
    top: -30px;
}
#main-logo {
    margin: 15px 12px 5px 30px;
    width: 254px;
    height: 50px;
}
.navbar {
    color: #276173;
    line-height: 1.15em;
    margin-bottom: 0;
}
.navbar-inner {
    background-image: none;
    background-color: #FFFFFF;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    filter: none;
}
.panel {
    margin: 25px 25px 0 0;
    float: right;
}
.panel .links {
    display: inline-block;
}
.panel a img {
    display: inline-block;
    margin: 0 0.5em 0 0;
    max-width: 40px;
}
.panel a.link {
    font-size: 18px;
    font-weight: 400;
    color: #276173;
    display: inline-block;
    margin: 2px 0 0 20px;
}
.panel a.link:hover {
    text-decoration: underline;
    color: #7d7779;
}
.panel > ul {
    list-style-type: none;
    margin: 0 0 12px 0px;
}
.panel li {
    line-height: 25px;
}
.panel #UserLoginForm {
    margin-right: -149px;
}
.panel #UserLoginForm .btn {
    margin: 6px 5px 6px;
}
.panel form div.input {
    margin-left: 5px;
    position: relative;
    top: 6px;
}
.panel form div.input input {
    width: 150px;
}
.panel .forgot {
    margin: 0 65px 0 0;
    font-size: 0.6em;
    position: relative;
    right: 145px;
    top: -4px;
}
.panel .form-inline label {
    display: block;
    font-size: 0.7em;
    line-height: 10px;
    font-weight: 600;
}
input.error {
    margin-top: 0;
    font-size: 13px;
    font-weight: normal;
}
.loading {
    opacity: .8;
}
table.no-hover-background-change tbody tr:hover td, table.arms tbody tr:hover th {
    background-color: transparent;
}
.table-striped.no-hover-background-change tbody tr:nth-child(odd):hover td, .table-striped.arms tbody tr:nth-child(odd):hover th {
    background-color: #F9F9F9;
}

/* body */
.section {
    margin: 20px 0;
}
section .table {
    margin: 30px 0;
}
.top-border {
    border-top: 1px solid #DDDDDD;
}

/* forms */
.bigInput {
    font-size: 1.2em;
    font-weight: 200;
    height: 42px;
    width: 422px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 2px solid #449dbd;
    padding: 3px 3px 2px;
    vertical-align: bottom;
}
#searchBtn {
    margin: 0 0 0 -2px;
    padding: 9px 12px;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 2px;
    width: 52px;
    vertical-align: bottom;
}
#submit-status {
    float: left;
    margin: 5px 0 0 225px;
    text-align: center;
}
.form-inline div {
    display: inline-block;
}
input[type="text"] {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
input, select, .uneditable-input {
    height: 28px;
    line-height: 18px;
}
.status-error, .error,
#email-form .not-yet-recruiting,
#phone-form .not-yet-recruiting,
#email-form .completed,
#phone-form .completed,
#email-form .active-not-recruiting,
#phone-form .active-not-recruiting,
#email-form .withdrawn,
#phone-form .withdrawn,
#email-form .available,
#phone-form .available,
#email-form .terminated,
#phone-form .terminated,
#email-form .enrolling_by_invitation,
#phone-form .enrolling_by_invitation,
#email-form .no_longer_available,
#phone-form .no_longer_available,
#email-form .suspended,
#phone-form .suspended {
    color: #B94A48;
    font-weight: 500;
    font-size: .9em;
    margin-top: 4px;
}
.status-success {
    color: #468847;
}
#locationBoxTbl td {
    vertical-align: baseline;
}
td.recruiting-status {
    font-weight: bold;
    font-size: 0.8em;
}
td.recruiting-status.recruiting {
    color: #ba9880;
}
.btn {
    font-weight: bold;
}
.btn-mini {
    font-size: 13px;
    min-width: 6em;
    min-height: 30px;
    margin-bottom: 10px;
}
.icon {
    position: relative;
    top: -2px;
    left: 4px;
}
.disclosure-button {
    margin: 5px 15px;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: #6c96ba;
}
.disclosure-button:before {
    content: "▶";
    margin-right: 0.8em;
}
.disclosure-button.toggled:before {
    content: "▼";
}
.disclosure-button:hover {
    cursor: pointer;
}
.icon-custom {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin: -4px 0 3px 0;
    *margin-right: .3em;
    line-height: 25px;
    vertical-align: text-top;
}
.icon-notebook-gray {
    background-image: url('../img/notebook-icon-25.png');
}
.icon-notebook-blue {
    background-image: url('../img/notebook-icon-25-blue.png');
}
.icon-printer-gray {
    background-image: url('../img/printer-icon-25.png');
}
.btn.custom {
    color: #999999;
    width: 125px;
    padding: 5px 10px 0;
}
.btn.addTrialBtn {
    color: #FFFFFF;
    width: 125px;
    padding: 6px 8px 6px;
    font-size: 0.8em;
}
.btn.depressed {
    color: #888888;
    width: 125px;
    padding: 6px 0 6px;
    text-decoration: none;
    background-color: #FFFFFF;
    *background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #DDDDDD;
}
.removeTrialButton, .btn-danger {
    padding: 6px 0 6px;
}
/* static pages */
.static p a {
    text-decoration: underline;
}
/* results */
.search-form {
    display: inline-block;
    margin: 0 0 10px 0;
}
h3.filters, h3.results {
    margin: 6px 0 5px;
    font-size: 0.9em;
    font-weight: 300;
    color: #AAA;
}
dl.results, .filter-group {
    border-top: dotted 1px #CCC;
}
.filter-panel {
    margin: 26px 0 0 0;
}
.filter-group {
    padding-top: 6px;
    margin-right: 20px;
}
.filter-group li {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
.filter-group li * {
    margin: 0;
    vertical-align: middle;
    line-height: 1.4em;
}
.filter-group li:first-of-type label {
    font-weight: 600;
    color: #6c96ba;
}
.filter-group li label {
    margin-left: 4px;
    display: inline;
    font-size: inherit;
    color: inherit;
    font-weight: 300;
}

input.input_filter, select.select_filter {
    margin-top: 6px;
}
input.input_filter {
    margin-left: 19px;
}
.select_filter {
    width: 85px;
    /*border: none;*/
    -webkit-appearance: none;
    -moz-appearance: none;
}
.facet-filter .count {
    font-style: italic;
    display: inline-block;
    float: right;
    text-align: right;
    color: #CCC;
}
.facet-filter li {
    position: relative;
}
#age_status, #zipcode_status {
    display: block;
    margin-left: 0;
}
.status-error {
    font-size: 0.9em;
}
#zipcode_form, #zipcode_distance_form {
    width: 7em;
    margin: 2px 6px;
}
input.filler {
    width: 12px;
    visibility: hidden;
}
.location_filter label.location {
    width: 3em;
    text-align: right;
    display: inline-block;
}
.location_filter li.checkall {
    margin-bottom: 4px;
}

/* result listing */
dl.results {
    margin: 0;
    padding: 15px 0;
}

dl.results dt, dt span.underline {
    font-size: 1.2em;
    font-weight: 400;
    margin-right: 0;
    line-height: 1.1em;
}
dl.results dt a {
    color: #646363;
}
dl.results dt a:visited {
    color: #A68A99;
}
dt span.underline {
    font-size: 1em;
}
dl.results dd {
    border-bottom: dotted 1px #DDD;
    margin-right: 0;
}
dl.results .score {
    display: inline-block;
    float: right;
    color: #AAA;
}
dt a.trial-title {
    display: inline-block;
    width: 600px;
}
ul.trial-meta-data li {
    height: 32px;
    color: #6d6469;
    margin: 0;
    float: left;
    font-size: 0.8em;
    border: solid 1px #CCC;
    border-left: none;
    padding: 0.5em;
}
ul.trial-meta-data li.intervention-icon {
    border-radius: 3px;
    border: solid 1px #CCC;
    width: 40px;
    height: 32px;
    margin-right: 10px;
    padding: 3px 0 0 7px;
}
ul.trial-meta-data li.location {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul.trial-meta-data .intervention-icon img {
    /* provisional until I get the proper icons */
    height: 25px;
    width: 25px;
}
ul.trial-meta-data li.new-label {
    border: none;
    color: #6c96ba;
    padding-left: 8px;
    font-weight: 400;
}
ul.trial-meta-data li.recruiting-status {
    border-left: solid 1px #CCC;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
ul.trial-meta-data li.recruiting {
    color: #ba9880;
    background-color: #ede5d1;
    font-weight: 400;
}
#pageNum {
    text-align: center;
    margin: 0;
    font-size: 0.9em;
    color: #999;
}
.no_bottom_margin {
    margin-bottom: 0;
}
.printer {
    background:url("https://www.smartpatients.com/img/printer-icon.png") no-repeat;
    width: 81px;
    height: 38px;
    border: none;
}

/* Print specific */
#selected_filters {
    display: none;
}

/* Trial progress bar */
.recruiting-progress-bar {
    padding: 8px 0;
    clear: both;
    cursor: default;
}
.progress-denominator {
    background-color: #CCC;
    height: 3px;
}
.progress-recruiting {
    background-color: #ba9880;
    height: 3px
}
.progress-not-recruiting {
    background-color: #666;
    height: 3px
}
.progress-not-yet-recruiting {
    background-color: #FFFFFF;
    height: 3px;
}
.progress-completed {
    background-color: #666;
    height: 3px;
}
.popover-content span.popover-label {
    display: inline-block;
    color: #666;
    width: 5em;
}
.popover-note {
    display: inline-block;
    color: #999;
    font-style: italic;
    margin-top: 1em;
    font-size: .8em;
    line-height: 2.5ex;
}
.popover-inner {
    width: 15em;
}
h3.popover-title {
    margin: 0;
    font-size: 1.0em;
}
.pagination {
    margin-bottom: 10px;
}
.pagination ul {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pagination li {
    margin: 0;
}
.pagination a {
    padding: 0 10px;
    font-size: 0.9em;
    font-weight: 200;
}
.pagination .disabled a, .pagination .disabled a:hover {
    background-color: #EEEEEE;
}
.pagination li.no_border a {
    border-bottom: none;
    border-top: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}
.pagination li.no_border a:hover {
    background-color: transparent;
}
.sideButtons.disabled a, .sideButtons.disabled a:hover {
    color: #EEEEEE;
    text-decoration: none;
}
/* details */
.box {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 0;
    margin-top: 20px;
}
.box dl {
    margin: 0;
}
.box.span6 {
    margin-left: 0;
}
.trial-details {
    margin-left: 0px;
    display: inline-block;
}
table.arms td {
    max-width: 230px;
}
table.arms th {
    padding-left: 15px;
}
table.arms dl {
    padding: 0;
    margin: 5px 0 0;
}
table.arms div {
    line-height: 1.4em;
}
.table.table-bordered {
    border-left: 1px solid #DDD;
}
.trial-title {
    width: 785px;
    padding-right: 0;
    line-height: 1.2em;
}
#trial-facts-box dl {
    float: left;
    width: 50%;
    min-height: 15em;
    padding-bottom: 0;
}
#trial-facts-box dl:first-of-type {
    border-right: solid 1px #CCC;
    margin-right: -1px;
}
#trial-facts-box dl:nth-of-type(2) {
    border-left: solid 1px #CCC;
}
#save_status {
    height: 20px;
    width: 177px;
    text-align: right;
}
#summaryLocationBox dl dt {
    float: left;
    clear: left;
    color: inherit;
    font-weight: normal;
    display: inline-block;
    min-width: 8em;
    margin-right: 0;
    line-height: 1.1em;
}
#seeMoreLocations {
    position: relative;
}
#summaryLocationBox dl dt:first-of-type {
    color: #252b52;
    font-weight: 600;
    font-size: 1em;
    line-height: normal;
}
#summaryLocationBox dd {
    float: left;
    display: block;
    width: 80%;
    margin: 3px 0 0 0 ;
    line-height: 1.1em;
}
#summaryLocationBox h3.banner {
    font-size: 1.6em;
    font-weight: 600;
}
#summaryLocationBox h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.table td.address {
    max-width: 200px;
    min-width: 175px;
}
.table td.recruiting-status {
    width: 200px;
}
.table td.recruiting-status img {
    margin: 0 0 0 5px;
}
.table .headerRow:hover th {
    background-color: transparent;
}
.phone {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/phone-light.png') bottom;
    margin: -3px 0 0 5px;
    float: right;
}
.phone:hover {
    background-position: 0 0;
}
.email_btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/email_light.png') bottom;
    margin: -3px 0 0 5px;
    float: right;
}
.email_btn:hover {
    background-position: 0 0;
}
.detailed_footer {
    font-size: 0.9em;
    margin: 10px 0 10px 0;
}
.buttons button {
    float: right;
    margin: 0 0 5px;
}
#tags-input {
    margin: 10px 0 0 4px;
}
#tags-ul {
    margin-left: 8px;
}
#tags-ul li {
    display: inline-block;
    font-size: 0.9em;
    margin: 0 25px 0 10px;
}
#tags-ul li a {
    background: url("../img/x.gif") no-repeat;
    margin: 5px 0 0 -12px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
}
#tags-ul li a:hover {
    background: url("../img/x.gif") no-repeat -10px 0;
}
.start-convo-div {
    margin: 40px 0 36px 5px;
}
.convo-btn {
    margin: 12px 0 0 0;
}
.convo-btn .btn {
    padding: 6px 8px 6px;
}
.convo-text {
    /*margin: 5px 0 0 30px;*/
}
/* sidebar */
.sidebar {
    margin-left: 3px;
}
.sidebar textarea {
    width: 100%;
    height: 8em;
    font-size: 0.9em;
}
.sidebar p {
    font-size: 0.9em;
}
.note-btn {
    background-color: transparent;
    border: none;
    color: #999999;
    margin: 3px 0 3px 0;
    float: right;
    padding: 0;
}

/* Modal */
.modal-body {
    /*margin-top: 15px;*/
    max-height: 490px;
    padding: 5px 0 20px;
    margin-bottom: 50px;
}
.modal-body p {
    margin: 15px;
}
.modal-body table {
    margin: 20px 10px;
    width: 95%;
}
.modal-body table tr th, .modal-body table td {
    border: none;
}
.modal-header h3 {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}
.modal-footer {
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}
.modal-body label.error {
    width: 400px;
    font-size: 0.8em;
    text-align: left;
    margin-left: 115px;;
}
.form-horizontal label {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin: 10px 10px 0 0;
    font-size: 1.2em;
    line-height: 1.4em;
    vertical-align: top;
}
.form-horizontal input, .form-horizontal textarea {
    width: 390px;
    margin: 10px 0 0 0;
    line-height: 1.4em;
}
.form-horizontal textarea {
    font-size: .8em;
}

#query {
    background: #FFFFFF url('../img/magnifying-glass-icon.png') 5px 5px no-repeat;
    padding-left: 30px;
    margin-top: 0;
    width: 220px;
    height: 28px;
    font-size: 16px;
}

/* autosuggest */
.ui-menu .ui-menu-item a {
    padding: 0 0.4em;
    color: #646363;
    line-height: 1.3em;
    font-weight: 200;
}

.ui-widget {
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: 200;
}
.ui-menu {
    padding: 2px 0;
}
.ui-menu .ui-menu-item a.ui-state-hover {
    border: none;
    margin: 0;
    color: #E6F1F5;
    background-image: none;
    background-color: #0087AE;
}
.ui-menu .ui-menu-item a.ui-corner-all {
    border-radius: 0;
}
/* notebook page */
ul li.ui-state-default, ul li.sort-placeholder {
    border: 1px dotted #CCC;
    background: none;
    padding: 0;
    margin: -1px 0 0 0;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.ui-state-disabled {
    opacity: 1;
}
.ui-state-disabled dt a, .ui-state-disabled dt a:link, .ui-state-disabled dt a:visited,
.ui-state-disabled dd a, .ui-state-disabled dd a:link, .ui-state-disabled dd a:visited,
.ui-state-disabled dd .label {
    color: #DDDDDD;
}
.ui-state-disabled button.delete-btn {
    color: #B94A48;
    font-weight: bold;
}
.global-status-bar {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -100px;
    z-index: 9999;
    padding: 8px 35px 8px 10px;
}
.grabbing {
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.trial-div .trial-meta-data {
    margin-top: 0.5em;
    margin-left: 0;
}
.trial-div .note-btn {
    background-color: transparent;
    border: none;
    color: #999999;
    position: absolute;
    right: 10px;
    bottom: 2px;
}
.trial-div .note {
    width: 95%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
    right: 2px;
    height: 90%;
}
.trial-div a {
    color: #646363;
}
.trial-div a:hover {
    text-decoration: underline;
}
.note-div {
    background: url('../img/note_background_white.png') no-repeat top right;
    width: 250px;
    float: right;
    position: absolute;
    right: 20px;
    height: 95%;
    min-height: 100px;
    background-size: 100% 100%;
}
.note-div textarea {
    resize: none;
    z-index: 1;
}
.note-div.trial-page {
    width: 275px;
    position: relative;
    right: 0;
}
.sidebar .note-btn {
    background-color: transparent;
    border: none;
    color: #999999;
    margin: 3px 5px 0 0;
}
.sidebar .note {
    width: 100%;
    height: 75px;
    background-color: transparent;
    padding: 5px 10px 0 10px;
}
.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    outline: none;
    border: none;
}
.no-transition:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
ul li.ui-state-default.draggable-row {
    color: #CCCCCC;
    background-color: #F7F0FF;
}
ul li.ui-state-disabled.draggable-row {
    background: none;
}
ul li.ui-state-default.draggable-row>div {
    background: url('../img/drag_bar.png') no-repeat 4px 4px;
}
ul li.sort-placeholder {
    background-color: #EFEFEF;
}
.trial-div {
    margin-top: 0.5em;
    padding: 5px 5px 0 10px;
    position: relative;
    height: auto;
}
.content-div {
    width: 600px;
    float: left;
    margin-left: 5px;
}
.delete-div {
    width: 20px;
    float: right;
}
ul .delete-btn {
    float: right;
    padding: 0;
    border: none;
    background: url('../img/delete.png') no-repeat top center;
    width: 24px;
    height: 24px;
    position: relative;
    top: -12px;
    left: 15px;
}
.updateNoteStatusMsg {
    position: absolute;
    top: -25px;
    right: 3px;
}
.updateNoteStatusMsg.in-notebook {
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: 0.6em;
}
#saved-note-message {
    color: #999; opacity: 0.0; width: 8em; position: absolute; top: 240px; left: 700px; text-align: left; opacity: 0.0;
}
.draggable-row .updateNoteStatusMsg.in-notebook {
    color: #555;
}
.alert button {
    background-color: transparent;
    border: none;
}

/* footer */
.footer-div {
    font-weight: 400;
    font-size: 0.9em;
    background-color: #FFFFFF;
    padding: 15px 0;
    margin-top: 40px;
}
.footer-content a {
    margin: 10px;
    color: #0087AE;
}
.footer-content>div {
    margin-right: -10px;
}
/* login page */
#welcome-text {
    margin: 30px 0 0 27px;
}
.home-page.divider {
    display: inline-block;
    width: 100%;
    height: 91px;
}
.home-page p {
    margin: 0 0 20px 0;
}
.home-page .span6 {
    margin-left: 26px;
}
.sign-in {
    border-left: 1px dashed #CCCCCC;
    padding-left: 30px;
}
.login-form {
    margin-top: 50px;
    margin-bottom: 75px;
}
.network-image {
    background: url('../img/SmartPatients_network_920_compressed.png') no-repeat 0 -190px;
    height: 410px;
    position: relative;
    padding: 15px 0;
}
.intro {
    width: 375px;
    font-weight: 400;
    font-size: 1.2em;
}
.intro>div {
    line-height: 1.4em;
    text-align: center;
    margin: 0 auto;
}
.intro #first-paragraph {
    width: 280px;
    margin: 5px auto 0;
}
.intro #second-paragraph {
    width: 240px;
    margin: 0 auto;
}
.intro #third-paragraph {
    width: 200px;
    margin: 0 auto;
}
#UserInviteForm input {
    margin: 10px 5px 0 0;
}
#inviteDiv {
    margin-top: 5px;
}
/* handwriting text images */
.getStartedWithSearchText {
    background: url('../img/search-for-clinical-trials.png') no-repeat top center;
    width: 265px;
    height: 66px;
    position: absolute;
    top: -9px;
    left: -15px;
}
table.history td {
    max-width: 25em;
}

.history-div {
    font-size: 12px;
}

/* reusable elements */
.divider {
    text-align:center;
    padding-bottom: 27px;
}
.clear-right {
    clear: right;
}
#sxs td {
    vertical-align: top;
    padding-bottom: 0.2em;
    width: 50%;
}
#sxs div.diff {
    color: #ba9880;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}
#sxs a.NCT {
    display: block;
}
#sxs p {
    margin-top: 0.2em;
    font-size: 0.9em;
}

/* Overlay guide elements */
.info-guide-div {
    padding: 40px 0 0;
    color: #FFFFFF;
    background: transparent url('../img/left-arrow.png') 0 0 no-repeat;
    width: 180px;
    line-height: 1.4em;
    font-family: 'Handlee', cursive;
    font-size: 16px;
    position: absolute !important;
    text-align: left;
}
#overlay {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 7;
}
#closeGuideBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#guide img {
    margin: 0 0 4px 0;
    cursor: pointer;
}
#guide_div {
    color: #FFFFFF;
    background: transparent url('../img/circled.png') 0 0 no-repeat;
    width: 100px;
    height: 100px;
    line-height: 1.4em;
    font-family: 'Handlee', cursive;
    font-size: 16px;
    position: absolute !important;
    padding: 50px 0 0 0;
}
a[rel="tooltip"] {
    cursor: default;
}
/* conditions */
a.sort, a.namesort {
    cursor: pointer;
}
#container {
    padding-bottom: 100px;
    margin-bottom: 30px;
    position: relative;
}
.disc {
    margin-left: 15px;
}
.disc li {
    list-style-type: disc;
}
.image {
    width: auto;
    margin: 20px 0;
    padding: 20px 0 0;
    border: 1px solid #ccc;
    display: inline-block;
}
.image img {
    margin: 0 20px 20px;
}
.image .caption {
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
    background-color: #ddd;
    color: #333;
    width: 100%;
    display: block;
    padding: 10px;
}

/* partners */
.partners h2 {
    margin-top: 0;
}
.partners .form-actions {
    padding: 17px 20px 0px 0;
    margin-bottom: 5px;
}
.report-trial-link {
    font-size: 0.9em;
    margin: 12px 0;
}