/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
*, *:before, *:after {
  	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}


.section        {background:#eee; }

/* Header*/
#header-main    {background:white; min-height:48px;}


/*nav*/
#nav-main       {background:#103075}
#nav-left		{ background: blue;}
#nav-right		{ background: blue;}

/*slideshow*/
#slideshow            {background:#01bcf3}
#slideshow-imgmg	  { background: aqua;}

/*two column*/
#twoLeft 	      { height: inherit; background: white;}
#twoRight 	      { height: inherit; background: white;}

/*four column*/
#four-col .four    { background: #fff;}


/*breadcrumb*/
#breadcrumb        {background:white;}
#breadcrumb ol     {list-style-type: none;  margin:0;}

/*footer*/
footer-main        {border-top:1px; background:white;}
#footer-main li    {float:left;}

#footer-main a     {padding:10px 15px; background: red; display:block;}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	

	

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


