
ol {
	list-style-type:decimal;
	
}
ul,
ol {
	list-style-position:inside;
}


/*inner content area*/

.inner{
	width: 960px; margin: 0 auto;  height: inherit; position:relative;
}
.inner:after {
	content: "";
	display: table;
	clear: both;
}


/*nav section*/
#mainHeader{
	height: 60px; background:#35a488;
}
#logo {
	height:60px;  float:left;
}
#mainNav{
	height:60px;  background:white; float:right;
	
}

#mainNav ul li{
	float:left;
}
/*search section*/
#search{
height:60px; background:#b5e1d7;	
}
#searchBox{
	float:right;
	background:white;
	width:300px;
	height:40px;
	margin:10px;
}
#mallHours{
	float:left;
}

/*hero section*/
#hero{
	height:460px; 
	margin:0 0 20px 0;
}

#hero-01{
	height:460px;
	width:74%; 
	background:#bbb;
	float:left;
}

#hero-02{
	height:300px; 
	width:24%;  
	background:#bbb; 
	float:right;
}

#hero-03{
	height:140px;
	width:24%; 
	background:#bbb;
	float:right;
	margin-top:20px;
}



/*site info section*/
#siteInfo{
	height:260px; 
}
.border-top{
	border-top: 2px solid #222;
}

#events{
	background:white;
	height:inherit;
	width:24%;
	float:left;
	margin:0 2% 0 0;
	
}

#social{
	background:white;
	height:inherit;
	width:24%;
	float:left;
	
	
}

#ad{
	background:white;
	height:inherit;
	width:48%;
	float:right;

	
}
/* footer section*/
#mainFooter{
	height:200px; background:#b5e1d7;
	margin:3px 0 0 0;
}


