
body {
	font-family:arial, sans-serif;
}
img {
  	vertical-align: top;
}
h2 {
	text-transform:uppercase;
	font-size:16px;
	font-family:times, serif;
	margin-bottom:20px;
}
ol {
	list-style-type:decimal;
	
}

a{
  	text-decoration: none;
}



/*inner content area*/

.inner{
	width: 960px; margin: 0 auto;  height: inherit; position:relative;
}
.inner:after {
	content: "";
	display: table;
	clear: both;
}




/*nav section*/
#mainHeader{
	height: 60px; background:#35a488;
}
#logo {
	height:60px;  float:left; padding-top:15px; position:absolute;
}
#mainNav{
	height:60px;  float:right;
	
}

#mainNav ul li{
	float:left;
}


#mainNav a{
  	font-family:times, serif;
	color: #fff;
	padding:22px 14px;
	display:block;
	text-transform:uppercase;
}
#mainNav li:hover{
	background:#387b6a;
}



/*search section*/

#search{
height:60px; background:#b5e1d7;	
}

#searchBox{
	float:right;
	background:white;

}
#mallHours{
	
  float: left;

	
}

/*hero section*/
#hero{
	
	margin:0 0 20px 0;
}

#hero-01{
	
	float:left;
}

#hero-02{
	
	float:right;
}

#hero-03{
	
	float:right;
	margin-top:20px;
}



/*site info section*/
#siteInfo{
	
}
.border-top{
	border-top: 2px solid #222;
	padding-top:20px;
}

#events{
	
	
	width:24%;
	float:left;
	margin:0 2% 0 0;
	
}
#events li{
	  color: #0000ee;
}

#social{
	
	
	width:24%;
	float:left;
	
	
}

#ad{
	
	width:48%;
	float:right;

	
}
#ad img{
	float:left;
}
/* footer section*/
#mainFooter{
	height:200px; background:#b5e1d7;
	margin:3px 0 0 0;
}


