ol {
	list-style-type:decimal;
	list-style-position:inside;
}


/*inner content area*/

.inner{
	width: 960px; margin: 0 auto; background: white; height: inherit; position:relative;
}
.inner:after {
	content: "";
	display: table;
	clear: both;
}


/*nav section*/
#mainHeader{
	height: 60px; background:#0BA890;
}
#logo {
	height:60px; width: 100px; background:gray; float:left;
}
#mainNav{
	height:60px; width: 400px; background:purple; float:right;
	
}

/*search section*/
#search{
height:60px; background:orange;	
}

#hero{
	height:460px; background:#FFFFFF; 
}
#hero-01{
	height:460px;
	width:74%; 
	background:brown;
	float:left;
}
#hero-02{
	height:230px; 
	width:24%;  
	background:pink; 
	float:right;
}
#hero-03{
	height:230px;
	width:24%; 
	background:blue;
	float:right;
}




#siteInfo{
	height:260px; background:purple;
}

#events{
	background:#333;
	height:inherit;
	width:24%;
	float:left;
	margin:0 2% 0 0;
}

#social{
	background:#666;
	height:inherit;
	width:24%;
	float:left;
	
}

#ad{
	background:#999;
	height:inherit;
	width:48%;
	float:right;
}

#mainFooter{
	height:200px; background:blue;
}


