/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
*, *:before, *:after {
  	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

body {
	background: #fff;
}



h2 {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #103075;
	margin: 0 0 20px 0;
}

h4 {
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #103075;
}

.section        {background:#363f48; }

/* Header*/
#header-main    {background:white; min-height:100px;}


#logoleft {
	display: block;
	float: left;
	padding-top:3em;
}


.menulogo { height:100px;}



/*nav*/
#nav-main {
	background: #FFFFFF;
	color: #fff;
	min-height: 48px;
}

#nav-left ul li {
	display: block;
	float: right;
	margin: 0;
}

#nav-left ul li a {
	margin-bottom: 10px;
	text-transform: uppercase;
color: #000000;
}

#nav-left ul li a:hover {
	background: #1e73be;
	color: #fff;
}
#catalog {
	padding-top:15px;
	border-bottom:thin #B0AAAA solid;
	}

/*slideshow*/
#slideshow            {background-image:url(../images/sf.jpg); background-size: cover; background-position: center center;}

 #BannerInfo {background:#FFFFFF; margin-top:6em;}
 #BannerInfo h2 {padding:6em 6em;font: 17px/1.4 "Helvetica Neue", sans-serif, normal;
color: #2b353a;}
 #BannerInfo h3 {padding:2em 6em; font: 17px/1.4 "Helvetica Neue", sans-serif, normal;
color: #2b353a;}
 
/*two column*/
.two-left 	      { height: inherit; background: white;}
.two-right 	      { height: inherit; background: white;}
#two-col          {padding: 40px 20px 20px 20px; background:#FFFFFF;}
#two-col h4{
	padding: 10px 10px 0 10px;
}
#two-col img {width:100%; height:auto;}

#two-col h2
 {padding: 0 10px;}

/*four column*/
#four-col .four    { background: #FFFFFF;}
#four-col h4 {padding: 10px 10px 0 10px;}
#four-col h2 {padding: 0 10px;}
#four-col {background:#FFFFFF;}

/*breadcrumb*/
#breadcrumb        {background:white; height:60px;}
#breadcrumb ol{
	margin:0;
	padding-top:15px;
}

#breadcrumb ol li {
	list-style-type:none;
	margin:0;
	color:#1A4AA7;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0 10px;
}
#breadcrumb a {
	
	margin:0;
	text-decoration:none;
	list-style-type:none;
	color:#1A4AA7;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0 10px;
}

/*footer*/
#footer-main {
	background:#363f48;
	border-top:thin #CECBCB solid;
	min-height:200px;
}
/*#footer-main li {
	padding: 22px 20px;
width: 370px;
background-color: #1e73be;
color: #fff;
font-weight: bold;
text-align: center;
text-transform: uppercase;
line-height: 1;
	
}
*/
.button{
	float:right;
	padding: 22px 20px;
width: 370px;
background-color: #1e73be;
color: #fff;
font-weight: bold;
text-align: center;
text-transform: uppercase;
line-height: 1;
-webkit-font-smoothing: inherit;
background: whitesmoke;
border: 1px solid transparent;
}





#footer-main a {
	padding: 10px 15px;
	display: block;
	text-decoration: none;
	font-size: 11px;

}

#footer-main a:hover {
	color: #13AEEB;
}

#footer-main p {
	color:#CDCACA;
	font-size: 10px;
}
/* SUBPAGE STYLES */

#sub-nav {
	background: #fff;
}

#sub-nav ul {
	
}

#sub-nav ul li {
	float: left;
	
}

#sub-nav ul li a {
	color: #103075;
	text-decoration: none;
	padding: 14px 10px 5px 10px;
	margin: 0;
	display: block;
}

#sub-nav ul li a:hover {
	color: #13AEEB;
}





/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	

	

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


