/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
*, *:before, *:after {
  	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

body {
	background: #eee;
}



h2 {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #103075;
	margin: 0 0 20px 0;
}

h4 {
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #103075;
}

.section        {background:#eee; }

/* Header*/
#header-main    {background:white; min-height:48px;}


#logoleft {
	display: block;
	float: left;
	border-right: 1px solid #eee;
	height: 100%;
	padding: 13px 15px 13px 0;
}

#logoright {
	display: block;
	float: left;
	height: 100%;
	padding: 13px 0 13px 15px;
}
.menulogo { height:15px}



/*nav*/
#nav-main {
	background: #103075;
	color: #fff;
	min-height: 48px;
}
#nav-left ul li {
	display: block;
	float: left;
	margin: 0;
}

#nav-left ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 15px;
	font-weight: bold;
}

#nav-left ul li a:hover {
	background: #fff;
	color: #103075;
}
#catalog {
	padding-top:15px;
	border-bottom:thin #B0AAAA solid;
}

/*slideshow*/
#slideshow            {background:#01bcf3}
#slideshow-mobile  {background:#D0CFCF;}

/*two column*/
.two-left 	      { height: inherit; background: white;}
.two-right 	      { height: inherit; background: white;}
#two-col          {padding: 20px 0 20px 0; }
#two-col .columns   {margin-bottom:40px;}
#two-col h4{
	padding: 10px 10px 0 10px;
}

#two-col h2
 {padding: 0 10px;}

/*four column*/
#four-col .four    { background: #fff;}
#four-col h4 {padding: 10px 10px 0 10px;}
#four-col h2 {padding: 0 10px;}



/*breadcrumb*/



#breadcrumb        {
	
	background:white; height:60px;
	}
	
	
	
#breadcrumb ol{
	margin:0;
	padding-top:15px;
}

#breadcrumb ol li {
	list-style-type:none;
	margin:0;
	color:#1A4AA7;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0 10px;
}
#breadcrumb a {
	
	margin:0;
	text-decoration:none;
	list-style-type:none;
	color:#1A4AA7;
	display: block;
	float: left;
	font-weight: bold;
	padding: 0 10px;
}

/*footer*/
#footer-main {
	background:white;
	border-top:thin #CECBCB solid;
	min-height:90px;
}
#footer-main li {
	float: left;
	
}
#footer-main a {
	padding: 10px 15px;
	display: block;
	text-decoration: none;
	font-size: 11px;

}

#footer-main a:hover {
	color: #13AEEB;
}

#footer-main p {
	color:#CDCACA;
	font-size: 10px;
}


/* SUBPAGE STYLES */

#sub-nav {
	background: #fff;
}

#sub-nav ul {
	
}

#sub-nav ul li {
	float: left;
	
}

#sub-nav ul li a {
	color: #103075;
	text-decoration: none;
	padding: 14px 10px 5px 10px;
	margin: 0;
	display: block;
}

#sub-nav ul li a:hover {
	color: #13AEEB;
}





/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	

	

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


